@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding-bottom: 64px;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: black;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
    padding:10px;
}

h1{
    color:rgb(14, 171, 56);
    font-size: 300%;
    text-align:center;
}

h2{
    font-size: 200%;
}

nav{
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color:white;
    padding:10px 20px;
    border: 2px solid black;
}
nav a:hover{
    background-color: rgb(14, 171, 56);
    border:2px solid white;
}

main{
    padding-bottom: 20px;
    text-align:center;
    /* min-height: 90vh; */
}

footer{
    background-color:black;
    color:white;
    padding:7px;
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table{
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}
th{
    padding:15px 10px;
    color:white;
    background-color:black;
}
td{
    padding:15px 10px;
}
tr th{
    border-right: 1px solid white;
}
tr th:last-child{
    border:none;
}
tr{
    border-bottom:1px solid rgb(165, 165, 165);
}
tr td{
    border-right:1px solid rgb(165, 165, 165);
}
tr td:last-child{
    border-right:none;
}

form{
    max-width: 50%;
}
fieldset{
    padding:30px;
}
form input{
    margin-top:10px;
}
form select{
    margin-top:10px;
    min-width: 50px;
}
label{
    font-weight: bold;
}
legend{
    font-weight:bold;
}

.insertButton{
    margin-top:10px;
}
.tableButton{
    font-weight: bold;
}
.tableButton:hover{
    color:white;
    background-color: rgb(14, 171, 56);
}

#welcome {
    font-size: 150%;
}

button{
    font-family: "Poppins", sans-serif;
    min-height: 35px;
    font-weight: bold;
    background-color: white;
}

button:hover {
    color: white;
    background-color: rgb(14, 171, 56);
}

input{
    font-family: "Poppins", sans-serif;
}

form input[type="button"] {
    min-height: 30px;
    font-weight: bold;
    background-color: white;
    border: solid black 2px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
form input[type="button"]:hover{
    color: white;
    background-color: rgb(14, 171, 56);
}

form input[type="submit"] {
    min-height: 30px;
    font-weight: bold;
    background-color: white;
    border: solid black 2px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
form input[type="submit"]:hover{
    color: white;
    background-color: rgb(14, 171, 56);
}

select{
    font-family: "Poppins", sans-serif;
}